<h1>Objetivos</h1>
<br>
<div>
   <h2>Acadêmico</h2>
   <p><ul>
        O objetivo de uma pessoa ao cursar a faculdade de Biologia pode ser motivado por uma paixão profunda pela vida e seus mistérios. 
        Estudar Biologia oferece a oportunidade de entender os mecanismos que regem os seres vivos, desde o nível molecular até os ecossistemas complexos. 
        Para muitos, a Biologia representa a chance de contribuir para a preservação do meio ambiente, desenvolvimento de novas tecnologias sustentáveis ou avanços na medicina.

        Além disso, cursar Biologia pode ser uma forma de canalizar a curiosidade natural sobre o mundo, transformando-a em conhecimento aplicado. 
        Os estudantes podem desejar se tornar pesquisadores, professores, conservacionistas ou trabalhar em áreas como biotecnologia e saúde pública. 
        A faculdade de Biologia oferece não apenas o entendimento teórico, mas também habilidades práticas em laboratório e campo, fundamentais para aqueles que desejam fazer a diferença em questões como mudanças climáticas, 
        biodiversidade e saúde global.

        Em suma, o objetivo de cursar Biologia é adquirir as ferramentas necessárias para explorar e proteger a vida em todas as suas formas, 
        ao mesmo tempo em que se desenvolve como profissional em uma área que está em constante evolução e que tem um impacto direto e significativo no mundo ao nosso redor.
        </ul>
    </p>
    <br>
    <h2>Profissional</h2>
        <p><ul>
            O objetivo de uma pessoa que deseja se profissionalizar em Entomologia, a ciência que estuda os insetos, 
            é aprofundar-se no conhecimento de um dos grupos mais diversos e ecologicamente importantes do planeta. 
            A Entomologia oferece a oportunidade de explorar o papel crucial que os insetos desempenham em ecossistemas, agricultura, saúde pública e até mesmo na economia.

            Para muitos, a motivação pode vir de uma fascinação por insetos e seu comportamento, diversidade e adaptação. 
            Através do estudo detalhado desses organismos, o entomólogo pode contribuir para a conservação de espécies ameaçadas, 
            o desenvolvimento de métodos biológicos de controle de pragas agrícolas ou a prevenção de doenças transmitidas por insetos, como a dengue e a malária.

            Profissionalizar-se em Entomologia também permite atuar em pesquisa científica, educação, 
            consultoria ambiental e muitas outras áreas que exigem um conhecimento especializado sobre insetos. 
            Essa carreira oferece a oportunidade de trabalhar em campo, laboratórios, universidades ou em colaboração com agências governamentais e organizações não-governamentais.

            Em resumo, o objetivo de se especializar em Entomologia é transformar uma paixão pelos insetos em uma 
            carreira que tem um impacto significativo na sustentabilidade ambiental, na segurança alimentar e na saúde humana, 
            ao mesmo tempo em que contribui para a compreensão e preservação da biodiversidade.</ul>
        </p>
    <br>
    <h2>Pessoal</h2>
    <p>
        <ul>Não norrer antes de namorar (mas se acontecer não acontecer não vou reclamar)</ul>
    </p>
</div>