@model YourProjectNamespace.Models.Message

<div>
    <h2>Portifólio</h2>
    <br>
    <h3>GitHub</h3>
    <p><a href="https://github.com/SagDig">SagDig</a>, Acesse aqui.</p>
    <br>
    <h3>Entomologia</h3>
    <p>Paixão por insetos</p>
    <img src="https://blog.ifope.com.br/wp-content/uploads/2020/08/Ekspozicija_Entomologija_Foto_LDM_arhivs_007-1080x620.jpg" width="1000" height="500" class="Img2">
    <br>
    <br>
    <h3>Artista</h3>
    <p>Com tempo livre gosto de desenhar</p>
    <img src="https://www.armarinhosaojose.com.br/octopus/design/images/94/products/o/detalhe-lapis-grafite-9000-6b-faber-12und.jpg" width="1000" height="500" class="Img2">
</div>