@{
    ViewData["Title"] = "Home";
}
<body>
    <div>
        <h1 class="display-4"><strong>Bem-Vindo</strong></h1>
        <h2>Quem sou eu?</h2>
        <img class="eve" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRujMnsZfXQzePONQFIObxKW0AaYwqFP-Hz1A&s">
        <div class="aquela">
             <p>
                <ul>Nome: Diego da Silva Araujo Goncalves</ul>
                <ul>Idade: 17</ul>
                <ul>Cidade: Curitiba, Paraná</ul>
                <ul>Escola: Sesi Unidade Centro, Cúritiba, Paraná</ul>
            </p>
        </div>
       
        
    </div>
</body>

