@{
    ViewData["Title"] = "Privacy Policy";
}
<div>
    <h1>Sobre mim</h1>
    <p><ul>
        Um adolescente com cabelos castanhos bagunçados que caem sobre a testa, olhos castanhos expressivos que mostram curiosidade e inteligência. Sua pele é clara, com algumas sardas espalhadas pelo nariz e bochechas.
        Ele tem uma postura descontraída, mas ao mesmo tempo atenta, vestindo uma camiseta simples, jeans e tênis.
        Gosta de se expressar através de acessórios, como uma pulseira de couro e um cordão discreto. Seus ombros levemente arqueados e o jeito de andar revelam uma confiança em desenvolvimento, 
        típica de alguém que está descobrindo seu lugar no mundo.</ul>
    </p>
    <br>
    <h2>Importante</h2>
    <p>
        <ul>Estudo: Ciencias Biológicas</ul>
        <ul>Seguimento de carreirs: Entomologia, 🐛</ul>
        <ul>Cursando Desenvolvimento de sistemas</ul>
        <ul>Homosexual 👾🏳‍🌈</ul>
    </p>
    <br>
    <h2>Gostos</h2>
    <p>
        <ul>Insetos</ul>
        <ul>Animes (Digimon)</ul>
        <ul>Games: RPG de turno, RogueLike</ul>
        <ul>RPG</ul>
    </p>
</div>

